/*
Created by Sérgio Gomes - sergioeduardo1981@gmail.com
Github: https://github.com/sergiowebmaster
*/

td .label {
	font-weight:bold;
	font-size:0.9em;
	display:none;
}

.tabela {
	display:table;
	width:100%;
	height:100%;
	word-break:break-word;
}
.tabela .linha {
	display:table-row;
}
.tabela .coluna {
	display:table-cell;
	vertical-align:top;
	padding:10px;
}
.tabela .full {
	width:100%;
	height:100%;
	overflow:auto;
}
.tabela .full_w {
	width:100%;
	overflow:auto;
}
.tabela .full_h {
	height:100%;
	overflow:auto;
}
.btn {
	font-size:13px;
	font-weight:bold;
}
.center {
	text-align:center;
}
.right {
	text-align:right;
}
.texto {
	text-align:justify;
}

@media screen and (max-width: 600px) {
	.tabela > .coluna {
		display:table-row;
	}
	.btn {
		font-size:18px;
	}
	thead, th {
		display:none;
	}
	tr {
		display:block;
		margin-bottom:50px;
	}
	td {
		display:block;
	}
	td .label {
		display:inline-block;
	}
	td.center {
		text-align:left;
	}
}